@import url("https://fonts.googleapis.com/css?family=Amiri");

.project-container {
  background-color: #f3efef;
  height: auto;
}

h5 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  color: #f1e4ea;
  font-size: 42px;
  margin-top: 25px;
  border-bottom: solid #f1e4ea;
  border-bottom-width: thin;
}

.hero-container, #work-hero-image {
  width: 100%;
}

h2 {
  font-family: 'Amiri', serif;
  font-weight: 400;
  font-size: 65px;
  color: black;
  margin-bottom: 0;
}

.projects {
  background: #f3efef;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-code-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.code-header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.project-area {
  width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}


.header-graphic-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.graphic-header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.graphic-container {
  width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 600px) {
  h5 {
    font-size: 28px;
    margin-top: 14px;
  }
  .projects {
    width: 600px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-area {
    width: 600px;
  }
  .graphic-container {
    width: 600px;
  }
  h2 {
    font-size: 42px;
    margin-top: 25px;
    margin-bottom: 0;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .projects {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project-area {
    width: 900px;
  }
  .graphic-container {
    width: 900px;
  }
}
