@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

.work-container {
  margin-bottom: 20px;
}

.inner {
  /* display: flex;
  flex-direction: column; */
  width: 280px;
  height: 280px;
  margin: 35px 10px auto 10px;
}

/* #image-assignment {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  opacity: 0.5;
}
#image-assignment:hover {
  opacity: 1;
} */

.project-image-container {
  position: relative;
  width: 50%;
  margin: 0;
}

#image-assignment {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
  width: 280px;
  opacity: 0;
  transition: .5s ease;
  background-color: #cec3b8f5;
}

.project-image-container:hover .overlay {
  opacity: 1;
}

/* .text-box {
  display: flex;
  flex-direction: column;
}  */


h1, .heading-assignment-image {
  color: white;
  font-size: 3vw;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.description {
  color: white;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-image-container #image-assignment {
  width: 280px;
  height: 280px;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 20px;
  /* font-size: 2vw; */
}

.description {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  /* font-size: 1vw; */
  /* display: inline-block; */
  margin-top: -13px;
}



/* .graphics-container {
  margin-bottom: 20px;
}

.inner-graphics {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 280px;
  margin: 35px 10px auto 10px;
}

.graphic-project-image-container {
  position: relative;
  width: 50%;
}

#graphic-image {
  display: block;
  width: 100%;
  height: auto;
}


.graphic-project-image-container:hover .overlay {
  opacity: 1;
}

/* .text-box {
  display: flex;
  flex-direction: column;
}  */


/* h1, .heading-assignment-image {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.description {
  color: white;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-image-container #image-assignment {
  width: 280px;
  height: 280px;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 20px;
}

.description {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: -13px;
}  */


@media (max-width: 600px) {
  .work-container {
    display: flex;
    justify-content: center;
  }
  .inner {
    width: 480px;
    height: 480px;
    margin: 45px 10px auto 10px;
  }

  .project-image-container {
    position: relative;
    width: 50%;
  }

  .overlay {
    height: 480px;
    width: 480px;
  }

  .project-image-container #image-assignment {
    width: 480px;
    height: 480px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {

}
